<ion-view title="Seznam měření" id="experimentList" style="background-color:#CECECE;" class=" ">
    <ion-content padding="true" class="has-header">
    
        <h3 ng-if="experiments.length <= 0" align="center">Neprobíhá žádné měření</h3>
        <ion-list ng-if="experiments.length > 0">
            <ion-item class="item" style="color:#000000;" ng-repeat="experiment in experiments" ng-click="showExperiment({{experiment}})" href="#">
                    {{experiment.institution}} <br>
                    {{experiment.begin}} - {{experiment.end}}<br>
                    {{experiment.town}}, {{experiment.street}} {{experiment.number}}
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>