<ion-view title="Formulář motivace" id="page2" style="background-color:#FFFFFF;" class=" ">99FF00   E3520F
    <ion-content padding="true" class="has-header">
    
    <label class="item item-input">
        <span class="input-label">ID</span>
        <input type="text" placeholder="" ng-model="personID" >
    </label>
    <button class="text-right button button-block icon icon-left ion-qr-scanner" style="background-color:#E3520F"
                ng-click="scanBarcode()">
            QR
    </button>
    
    <ion-list>
        <ion-item ng-repeat-start="form in objects" style="display:none;"></ion-item>
        
        <ion-item class="item-text-wrap" style="background-color:#99FF00">{{form.name}}</ion-item>         
        
        <ion-radio
                ng-repeat="label in form.formLabels"
                ng-value="label"
                ng-model="form.answer"
                name="{{form.name}}">
          {{ label }}
        </ion-radio>
        
        <div class="spacer" style="height: 10px;"></div>

        <ion-item ng-repeat-end style="display:none;"></ion-item>
    </ion-list>
                                                                    
    <button id="form-button1" class=" button button-block " style="background-color:#E3520F" ng-click="showConfirm()">
       	Uložit
    </button>
        
    </ion-content>
</ion-view>