<ion-view id="page0" style="background-color:#CECECE;">
  <ion-nav-title>
        {{'HOME' | translate}}
  </ion-nav-title>

  <ion-content padding="true" class="has-header">
    <div class="row ">
      <div class="col col-md-6 col-50">
        <ion-item class=" item item-positive" style="text-align:center;font-size: 500%;" ui-sref="menu.listOfMeasurements">
            <ion-icon class="icon ion-erlenmeyer-flask"></ion-icon>
        </ion-item>
      </div>
      <div class="col col-md-6 col-50">
        <ion-item class=" item item-positive" style="text-align:center;font-size: 500%;" ui-sref="menu.results">
            <i class="icon ion-android-checkbox-outline"></i>
        </ion-item>
      </div>
    </div>

    <div class="row ">
      <div class="col col-md-6 col-50">
        <ion-item class="item item-positive" style="text-align:center;font-size: 500%;" ui-sref="menu.settings">
            <i class="icon ion-android-settings"></i>
        </ion-item>
      </div>  
      <div class="col col-md-6 col-50">
        <ion-item class="item item-positive" style="text-align:center;font-size: 500%;" ui-sref="menu.about">
            <i class="icon ion-information-circled"></i>
        </ion-item>
      </div>
    </div>

</ion-content>
</ion-view>