<ion-view id="page4" style="background-color:#CECECE;">
  <ion-nav-title>
        {{'LOGIN' | translate}}
  </ion-nav-title>


  <ion-content padding="true" class="has-header">
    
    <form id="login-form1" class="list">
      
      <button id="login-button3" 
              style="font-weight:300;" 
              class="button button-positive  button-block button-clear icon ion-qr-scanner" 
              ng-click="scanBarcode()">
                    {{ 'GET_SECTION' | translate }}
      </button>

      <ion-list id="login-list2">
        <label class="item item-input" id="login-input1">
          <span class="input-label">{{ 'USERNAME' | translate }}</span>
          <input type="text" placeholder="" ng-model="user.username">
        </label>
        
        <label class="item item-input" id="login-input2">
          <span class="input-label">{{ 'PASSWORD' | translate }}</span>
          <input type="password" placeholder="" ng-model="user.password">
        </label>
      </ion-list>

      <div class="spacer" style="height: 40px;"></div>

      <a id="login-button1" 
              style="font-weight:300;" 
              class="button button-positive  button-block icon ion-log-in"
              ng-click="login()">
                    {{ 'LOG_IN' | translate }}
      </a>
      
      <!--div class="spacer" style="height: 40px;"></div>

      <label class="item item-select" id="login-select2" name="language">
        <span class="input-label">Language</span>
        <select>
          <option>English</option>
          <option>Deutch</option>
          <option>Czech</option>
        </select>
      </label-->
    </form>

  </ion-content>
</ion-view>