<ion-view id="page5" style="background-color:#CECECE;">
  <ion-nav-title>
        {{ 'MEASUREMENT' | translate }}
  </ion-nav-title>
  <ion-content padding="true" class="has-header">
    
    <h3 id="measurement-heading1" style="color:#000000;font-weight:300;text-align:center;">{{measurement.institution}}</h3>
    <h4 id="measurement-heading2" style="color:#000000;font-weight:300;text-align:center;">{{measurement.town}}, {{measurement.street}} {{measurement.number}}</h4>
    
    <!--h3 ng-if="objects.length <= 0" style="color:#000000;font-weight:300;text-align:center;">{{'NO_INPUT' | translate}}</h3-->
    
    <form ng-if="objects.length > 0" id="measurement-form5" class="list">
      <button id="measurement-button8" 
              style="font-weight:300;" 
              class="button button-positive  button-block button-clear icon ion-qr-scanner"
              ng-click="scanBarcode()">
                {{ 'SCAN_ID' | translate }}
      </button>
     
      <label class="item item-input" id="measurement-textarea1">
        <span class="input-label">ID</span>
        <input type="text" placeholder="" ng-model="person.personID" >
      </label>
    </form>

    <ion-list ng-if="objects.length > 0">        
        <ion-item ng-repeat-start="mereni in objects" style="display:none;"></ion-item>
        
        <h3 align="center" style="color:#000000;font-weight:300;">{{mereni.experimentName}}</h3>
        <ion-list>        
            <ion-item ng-repeat-start="dotaznik in mereni.schema" style="display:none;"></ion-item>
            
            <ion-row class="item item-divider" style="font-weight:300;text-align:justify;">
                <ion-col>{{dotaznik.name}} &nbsp</ion-col>
                <ion-col ng-if="dotaznik.units != ''">[{{dotaznik.units}}]</ion-col>
                <ion-col class="assertive" ng-if="dotaznik.required">* &nbsp</ion-col>
                
            </ion-row>

            <label class="item item-input" ng-if="dotaznik.formType == 'integer'">
                <input type="number" placeholder="{{dotaznik.formLabels[0]}}" ng-model="dotaznik.values[0]" >
            </label>

            <label class="item item-input" ng-if="dotaznik.formType == 'float'">
                <input  type="number" placeholder="{{dotaznik.formLabels[0]}}" ng-model="dotaznik.values[0]">
            </label>

            <label class="item item-input" ng-if="dotaznik.formType == 'text'">
                <input type="text" placeholder="{{dotaznik.formLabels[0]}}" ng-model="dotaznik.values[0]">
            </label>

            <ion-checkbox ng-if="dotaznik.formType == 'checkbox'"
                ng-repeat="label in dotaznik.formLabels"   
                ng-init="dotaznik.values[$index] = 0"     
                ng-model="dotaznik.values[$index]"            
                ng-true-value="1"
                ng-false-value="0"
                name="{{dotaznik.id}}">
                {{ label }}
            </ion-checkbox>
            
            <ion-radio ng-if="dotaznik.formType == 'radio'"
                ng-repeat="label in dotaznik.formLabels"
                ng-value="$index"
                ng-model="dotaznik.values[0]"
                name="{{dotaznik.id}}">
                {{ label }}
            </ion-radio>
            
            <div class="spacer" style="height: 10px;"></div>

            <ion-item ng-repeat-end="dotaznik in mereni" style="display:none;"></ion-item>
        </ion-list>
        
        <div class="spacer" style="height: 20px;"></div>
        <ion-item ng-repeat-end="mereni in objects" style="display:none;"></ion-item>
    </ion-list>

    <button ng-if="objects.length > 0" id="measurement-button10" 
            style="font-weight:300;border-radius:-22px -22px -22px -22px;" 
            class="button button-positive  button-block icon ion-android-arrow-up"
            ng-click="showConfirm()">
              {{ 'SAVE' | translate }}
    </button>
  
  </ion-content>
</ion-view>