<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu">
        <ion-header-bar class="bar-stable">
            <div class="title">{{ 'MENU' | translate }}</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <ion-list id="menu-list" class=" ">
                <ion-item id="menu-list-item1" ui-sref="menu.experimentList" menu-close="" class =" ">{{ 'MEASURE_LIST' | translate }}
                <i class="icon ion-erlenmeyer-flask"></i>
                </ion-item>
                <ion-item id="menu-list-item6" ui-sref="menu.results" menu-close="" class=" ">{{ 'RESULTS' | translate }}
                <i class="icon ion-ribbon-a"></i>
                </ion-item>  
                <ion-item id="menu-list-item5" ui-sref="menu.settings" menu-close="" class=" ">{{ 'SETTINGS' | translate }}
                <i class="icon ion-android-options"></i>
                </ion-item>    
                <ion-item id="menu-list-item4" ui-sref="login" menu-close="" class=" ">{{ 'LOGOUT' | translate }}
                <i class="icon ion-android-exit"></i>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>