<ion-view title="Settings" id="pageXXX" style="background-color:#CECECE;" class=" ">
    <ion-content padding="true" class="has-header">
        
        <!--ion-item>
            <ion-label>{{ 'LANGUAGE' | translate }}</ion-label>
            <ion-select>
                <ion-option ng-click="ChangeLanguage('en')">EN</ion-option>
                <ion-option ng-click="ChangeLanguage('cz')">DE</ion-option>
                <ion-option ng-click="ChangeLanguage('cz')">CZ</ion-option>
            </ion-select>
        </ion-item-->

        <!--label class = "item item-input item-select">
            <div class = "input-label">
                {{ 'LANGUAGE' | translate }}
            </div>
	
            <select>
                <option ng-selected="ChangeLanguage('en')">EN</option>
                <option ng-selected="ChangeLanguage('cz')">DE</option>
                <option ng-selected="ChangeLanguage('cz')">CZ</option>
            </select>
        </label-->

        <ion-fab top right>
                <button ion-fab ng-click="ChangeLanguage('en')">EN</button>
                <button ion-fab ng-click="ChangeLanguage('cz')">DE</button>
                <button ion-fab ng-click="ChangeLanguage('cz')">CZ</button>
            </ion-fab>
            
    </ion-content>
</ion-view>