<ion-view id="page3" style="background-color:#CECECE;">
  <ion-nav-title>
        {{'SETTINGS' | translate}}
        <span ng-if="server.devel" style="color:red">!!Developer version!!</span>
  </ion-nav-title>
  <ion-content padding="true" class="has-header">
    <form id="settings-form2" class="list">
      <label class="item item-select" id="settings-select4" name="language">
        <span class="input-label">{{ 'LANGUAGE' | translate }}</span>

        <select ng-model="myLang"
          ng-options="language.name | translate for language in languages"
          ng-change="ChangeLanguage(myLang.short)">
        </select>
      </label>
    </form>
  </ion-content>
</ion-view>