<ion-view title="Informace o uživateli" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        
        <form id="info-form1" class="list ">
        
            <label class="item item-input item-stacked-label" id="info-input1">
                <span class="input-label">Jméno</span>
                <input type="text" placeholder="Jan Novák" ng-model="name">
            </label>
            
            <label class="item item-input item-stacked-label" id="info-input2">
                <span class="input-label">Datum narození</span>
                <input type="text" onfocus="(this.type='date')" onblur="(this.type='date')" placeholder="01.01.2000" ng-model="birthdate">
            </label>
            
            <label class="item item-input item-stacked-label" id="info-input3">
                <span class="input-label">Hmotnost (kg)</span>
                <input type="number" placeholder="65" ng-model="weight">
            </label>
            
            <label class="item item-input item-stacked-label" id="info-input4">
                <span class="input-label">Výška (cm)</span>
                <input type="number" placeholder="175" ng-model="height">
            </label>
            
            <label class="item item-input item-stacked-label" id="info-input5">
                <span class="input-label">Email</span>
                <input type="email" placeholder="email@email.com" ng-model="mail">
            </label>
            
            <label class="item item-input item-stacked-label" id="info-input6">
                <span class="input-label">Telefon</span>
                <input type="tel" placeholder="+420123456789" ng-model="phone">
            </label>
            
        </form>
        
        <button id="info-button1" class=" button button-positive button-block " ng-click="showConfirm()">
            Uložit informace
        </button>
        
    </ion-content>
</ion-view>