.scroll-content{
 background: url(../img/background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.loading{
  background-color: rgba(0, 0, 0, 0) !important;
}

.spinner svg {
  width: 56px;
  height: 56px;
  stroke: #000;
  fill: #000;
}