/* Empty. Add your own CSS if you like */
.loading{
  background-color: rgba(0, 0, 0, 0) !important;
}

.spinner svg {
  width: 56px;
  height: 56px;
  stroke: #000;
  fill: #000;
}

.myCenter {
  position: absolute;
  top: 50%;
  left: 50%;
}

.item-content{
  padding-top:16px !important;
  padding-bottom:16px !important;
  padding-left:16px !important;
  padding-right:16px !important;
}